@tailwind base;
@tailwind components;
@tailwind utilities;

.carte-text::after {
    content: " ";
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #ea580b;
    width: 100px;
    display: block;
    margin-left: 0;
    margin-top: 2rem;
}
.swiper {
    padding-bottom: 5rem !important;
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}
.font-news {
    font-family: 'Oswald', sans-serif;
}
.title-details {
    font-family: 'Oswald', sans-serif;
}
.contact {
    position: absolute;
    width: 100%;
    z-index: 11111111111111111;
    top: -36px;
}
.bar-nav {
    margin-top: 30px;
}
.carte-text-after::after{
    margin-left: auto;
    margin-right: auto;
}
.carte{
    transition: 0.3s all;
}
.carte:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgb(189 189 189 / 19%), 0 6px 6px rgb(189 189 189 / 23%);
}
.gallerie {
    column-width: 33%;
    padding: 0 12px;
}
.gallerie .pics {
    transition: all 350ms ease;
}
.gallerie .pics:hover {
    filter: opacity(.8);
}
.modal {
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    z-index: 999;
}


.slider{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: -110px;
    z-index: 0;
}
.opa {
    opacity: 92%;
}
.swiper-button-next {
    color: #f97316 !important;
}
.swiper-pagination-bullet-active {
    background: #f97316 !important;
}
.swiper-button-next.swiper-button-disabled {
    color: #f97316  !important;
}
.swiper-button-prev.swiper-button-disabled {
    color: #f97316 !important;
}
.swiper-button-prev {
    color: #f97316 !important;
}
.slide { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* transform: translateX(-50%); */
    transition: ease-in .5s;
}
.slide .img {
    width: 100%;
}
.current {
    /* opacity: 1;
    transform: translateX(0); */
    left: 0 !important;
    opacity: 1;
}
.content {
    background: rgba(0, 0, 0, 41%);
}
.current .content {
    opacity: 1;
}
.slide-button {
    top: 55%;
    z-index: 999;
}
.svg-nav{
    stroke: white;
}
footer {
    flex-direction: column;
    padding: 9rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8080800d;
}
footer div:nth-child(1) {
    border-bottom: solid 0.5px #00000021;
    padding: 0 0 3rem 0;
}
.wrapper-copyright {
    width: 70%;
    font-size: 13px;
    color: #0000006b;
}
.wrapper-copyright ul li {
    margin-left: 9px;
}
.social-wrapper-footer {
    font-size: 23px;
}
.slider-title {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
}
.title-header {
    color: white;
    z-index: 1;
    text-align: center;
}
.cover-header {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.slider-shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: linear-gradient(0deg, rgb(33, 37, 41) 0px, rgba(33, 37, 41, 0) 100%);
}
.title-card-news {
    font-size: 22px;
    line-height: 30px;
    /* font-weight: 500; */
}
.card-news {
    height: 538px;
    width: 367px;
    position: relative;
    margin-top: 4rem;
}
.card-news-slide {
    height: 538px;
    width: 100%;
    position: relative;
}
.date-card-news {
    font-size: 13px;
    color: #ffffff69;
    font-weight: 400;
}
.page-header {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 30vh;
    width: 100%;
    position: relative;
    background: #8080800d;
    justify-content: center;
}
a > svg:hover {
    color: unset !important;
    text-decoration: unset;
}
a:hover {
    color: #f97316;
    text-decoration: unset;
}
@media screen and (min-width : 600px) {
    .slide .img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width : 640px) {
    .title-details {
        font-family: 'Oswald', sans-serif;
        line-height: 5rem !important;
    }
}
@media screen and (min-width: 576px){
    .swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.mySwiper.mt-20{ 
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .logo {
        width: 10rem;
    }
    .title {
        line-height: 4.5rem !important;
    }
    .card-news {
        margin: 4rem 1rem;
        margin-top: 0;
    }
    .card-news-slide {
        margin-top: 0;
    }
    footer div:nth-child(1) {
        width: 70%;
    }
}
@media (min-width: 820px){
    footer div:nth-child(1) {
        justify-content: space-between !important;
    }
    .container-slide {
        padding: 0 5rem;
    }
    .slider-title {
        font-size: 4rem;
        line-height: 68px;
    }
}
@media (min-width: 1024px){
    .title {
        text-align: left !important;
        line-height: 1 !important;
    }
    .subtitle {
        text-align: left !important;
    }
}

@media (min-width: 1280px){
    .title {
        font-size: 6rem !important;
    }
}


